@model IEnumerable<TimeWarpGames.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Create knop die modal opent -->
<button class="btn btn-primary mb-3" data-toggle="modal" data-target="#createProductModal">
    Product toevoegen
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item.ProductType, new { id = item.ProductId }, null) |
                @Html.ActionLink("Details", "Details", item.ProductType, new { id = item.ProductId }, null) |
                @Html.ActionLink("Delete", "Delete", item.ProductType, new { id = item.ProductId }, null)
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="createProductModalLabel">Welk type product wil je toevoegen?</h5>
                <button type="button" class="close position-absolute" style="top: 1rem; right: 1rem;" data-dismiss="modal" aria-label="Sluiten">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <a href="@Url.Action("Create", "Consoles")" class="btn btn-primary m-2">Console</a>
                <a href="@Url.Action("Create", "Games")" class="btn btn-primary m-2">Game</a>
                <a href="@Url.Action("Create", "Accessories")" class="btn btn-primary m-2">Accessoire</a>
            </div>

        </div>
    </div>
</div>
